<%= form_with url: enviarticket_path, :authenticity_token => false do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :subject %><br>
    <%= form.text_field :subject %>
  </p>
  <p>
    <%= form.label :message %><br>
    <%= form.text_area :message %>
  </p>
  <p>
    <%= form.submit %>
  </p>

<% end %>
